{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Account Activated" %}{% endblock %}

{% block content %}
<div class="col-sm-6 col-sm-offset-3">
<p class="lead text-center">
    {% trans "Your account is now activated." %}
    {% if not user.is_authenticated %}
    {% trans "You can log in." %}
    {% endif %}
</p>
<a href="{% url 'auth_login' %}"><button class="btn btn-primary center-block">Back to login</button></a>
</div>
{% endblock %}


{% comment %}
**registration/activation_complete.html**

Used after successful account activation. This template has no context
variables of its own, and should simply inform the user that their
account is now active.
{% endcomment %}
