{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Logged out" %}{% endblock %}

{% block content %}
<div class="col-sm-6 col-sm-offset-3">
<p class="lead text-center">{% trans "Successfully logged out" %}.</p>
<a href="/"><button class="btn btn-primary center-block">Back to homepage</button></a>
</div>
{% endblock %}
