{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Password changed" %}{% endblock %}

{% block content %}
<p class="lead text-center">{% trans "Password successfully changed!" %}</p>
<a href="{% url 'auth_login' %}"><button class="btn btn-primary center-block">Back to login</button></a>
{% endblock %}


{# This is used by django.contrib.auth #}
