{% extends "registration/registration_base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% trans "Change password" %}{% endblock %}

{% block content %}
<div class="col-sm-6 col-sm-offset-3">
<h2 class="lead text-center">Change password</h2>
<form method="post" action="">
    {% csrf_token %}
    {{ form|crispy }}
    <input class="btn btn-primary center-block" type="submit" value="{% trans 'Change password' %}"/>
</form>
</div>
{% endblock %}


{# This is used by django.contrib.auth #}
