{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Confirm password reset" %}{% endblock %}

{% block content %}
<div class="col-sm-6 col-sm-offset-3">
<p class="lead text-center">{% trans "Enter your new password below to reset your password:" %}</p>
<form method="post" action="">
    {% csrf_token %}
    {{ form.as_p }}
    <input class="btn btn-primary center-block" type="submit" value="{% trans 'Confirm' %}" />
</form>
</div>
{% endblock %}


{# This is used by django.contrib.auth #}
