{% extends "registration/registration_base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% trans "Reset password" %}{% endblock %}

{% block content %}
<h2 class="lead text-center">Forgot password</h2>
<p class="text-center">
    {% blocktrans %}
    Forgot your password? Enter your email in the form below and we'll send you instructions for creating a new one.
    {% endblocktrans %}
</p>
<div class="col-sm-6 col-sm-offset-3">
<form method="post" action="">
    {% csrf_token %}
    {{ form|crispy }}
    <input class="btn btn-primary" type="submit" value="{% trans 'Reset password' %}" />
</form>
</div>
{% endblock %}


{# This is used by django.contrib.auth #}
