{% extends "registration/registration_base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% trans "Register for an account" %}{% endblock %}

{% block content %}
<div class="col-sm-6 col-sm-offset-3">
<h2 class="lead text-center">Register</h2>
<form method="post" action="">
    {% csrf_token %}
    {{ form|crispy}}
    <input class="btn btn-primary" type="submit" value="{% trans 'Submit' %}" />
</form>
</div>
{% endblock %}


{% comment %}
**registration/registration_form.html**
Used to show the form users will fill out to register. By default, has
the following context:

``form``
    The registration form. This will be an instance of some subclass
    of ``django.forms.Form``; consult `Django's forms documentation
    <http://docs.djangoproject.com/en/dev/topics/forms/>`_ for
    information on how to display this in a template.
{% endcomment %}
